/* CSS for desktop screens */
.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.scrolled {
  /* Add styles for the scrolled state here */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease; /* Add smooth transition effect */
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 0;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 100px;
}

.main_nav {
  display: flex;
  margin-left:auto;
  justify-content: flex-end; /* Adjusted to align the menu to the right */
}

.main_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Adjusted to align the menu items to the right */
	align-items: center;
}

.main_nav li {
  margin-left: 40px;
}

.main_nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size:small;
}

.header-button--login {
	padding: 8px 16px;
	border: 1px solid;
	background-color: transparent;
	border-radius: 8px;
	font-size: 13px;
	font-weight: bold;
}

.header-button--signup {
	padding: 8px 16px;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 8px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

/* CSS for mobile screens */
@media (max-width: 768px) {
  .main_nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .main_nav.show {
    display: flex;
  }

  .main_nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main_nav li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: #333333;
    transition: all 0.3s ease;
  }

  .hamburger.show .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.show .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.show .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.main_nav ul li a:hover {
  text-decoration: none;
}
