.signUpForm {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	padding: 40px 16px;
	width: 100%;
	max-width: 500px;
	border: 1px solid #ccc;
	border-radius: 20px;
	gap: 50px;
}